extends layout.pug

block header
    nav
      ul
        li: a(href="/") Dashboard
        li: a(href="/inventory").active Inventory
        li: a(href="/collector") Status Collector
      ul.active
        li: a(href="/inventory/new") Add New Device

block content
  h1 Device Inventory
  p Below is a list of all devices currently being monitored by the Overseer application. You can view the device ID, name, and status. Use the navigation menu to add new devices or return to the dashboard.
  p Device Count: #{devices.length}
  if devices.length === 0
    p No devices found in the inventory. Please add new devices using the 
      a(href="/inventory/new").button Add New Device
      span  option in the navigation menu.
  else
    div
      table
        thead
          tr
            th Name
            th IP Address
            th Status
            th Last Updated
        tbody
          each device in devices
            tr
              td= device.Name
              td= device.IPAddress
              if device.Status === 'Online'
                td.online= device.Status
              else if device.Status === 'Offline'
                td.offline= device.Status
              else if device.Status === 'Maintenance'
                td.maintenance= device.Status
              else if device.Status === 'Unknown'
                td.unknown= device.Status
              else
                td= device.Status
              td
                time(datetime=device.LastUpdated)=device.LastUpdated
  p Use the navigation menu to add new devices or return to the dashboard.